$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$brandbkgd: #EEEEEE; // light grey background
$brandbkgdtwo: #FCFFF5; // secondary bkgd
$brandbkgdthree: #fff; // secondary bkgd
$brandpop: #34495e;  // Alternative1 red winner so far :)
$brandmain: #444344; //strong and sparse continuity
$fontcolor: #fff;   // font color / also the offset the main color
$fontcolordark: #3e606f;   // font color / also the offset the main color

$break-small: 600px;

@media screen and (max-width: $break-small) {
    // this is where the media break changes go
}

@mixin inputgen {
    padding-left: 10px;
    // border-radius: 6px;
    font-size: 18px;
    height: 60px;
    background: #fff;
    color: $brandmain;
    text-align: left;
    line-height: 60px;
}

.modal-bkgd {
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.32);
	width: 100%;
	height: 100%;

	.modal-container {
		box-shadow: 0px 0px 30px black;
		background: #fff;
		border-radius: 4px;
		width: 500px;
		height: auto;
		color: black; 
		overflow: hidden;

		@media screen and (max-width: $break-small) {
			width: 100%;
		}

		.modal-head {
			overflow: hidden;
		}

		.modal-body{
			overflow: hidden;
			padding: 10px;
			position: relative;
			font-size: 16px;
			color: $fontcolordark;
			
			h3 {
				font-family: 'Open Sans', sans-serif;
			}

			h5 {
				font-family: 'Open Sans', sans-serif;
			}

			.portrait {
				width: 100%;
				height: 300px;
				background: $brandpop;
				border-radius: 4px;
				text-align: center;
			}

			input {
				width: 98.2%;
				margin: 10px 0;
				border-radius: 4px;
				margin-left: 5px;

				&.sm-input {
					width: 31%;
				}
				&.sm-time-input {				
					width: 32%;
				}

				&.xs-time-input {
					width: 32%;
				}
			}

			select {
				margin: 10px 0;
				width: 98.2%;
				margin-left: 5px;			
			}

			textarea {
				margin: 10px 0;
				width: 98.2%;
				border-radius: 4px;
				margin-left: 5px;		
			}

			.modal-head-container {
				background: $brandpop;
				margin-left: -20px;
				margin-right: -20px;
				margin-top: -20px;
				padding-top: 20px;
				padding-bottom: 10px;

				h3 {
					color: $fontcolor;
					text-align: center;
					float: none;
					margin: 0 auto;
					text-transform: uppercase;
				}
			}

			button {
      		width: auto;                		
      		height: 30px;
      		font-size: 16px;
        	background: $brandbkgdthree;
        	border: 1px solid $brandmain;
        	padding: 0px;
        	margin: 14px 0;
        	margin-left: 5px;
        	margin-right: 5px;

        		@media screen and (max-width: $break-small) {                     
              display: none;
            }

        	&:hover{
	    			background: $brandpop;
	    		}

        	a {
        		padding: 5px;
        		color: $fontcolordark;

        		&:hover{
		    			color: $fontcolor;
		    		}
	      	}
        }
		}
	}
}


/* Space out content a bit */

body {	
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: $fontcolor;
  background: $brandbkgd;
  // padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {}

/* Custom page header */
.header {
    padding: 0 0;
    border-bottom: 1px solid $brandmain;
    background: $brandbkgdthree;


    .container{
    	padding-left: 45px;
    	padding-right: 60px;
      color: $fontcolordark;
    }
    a{
    	color: $fontcolordark;
    	cursor: pointer;

    	&:hover {
    		color: $brandpop;
    	}
	    .ion-home{
	    	font-size: 30px;
	    	margin: 15px 5px;
	    }
    }

        h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            margin-left: 10px;
            margin-top: 13px;
        }


    .head-login-form {
        @media screen and (max-width: $break-small) {
            width: 100%;
            overflow: hidden;
        }
        
        input {
            margin-top: 15px;
            height: 30px;
            border-radius: 4px;
            margin-right: 5px;
            margin-left: 5px;

            @media screen and (max-width: $break-small) {
                position: relative;
                width: 50%;
                display: inline-block;

            }
        }
        button {
      		width: auto;                		
      		height: 30px;
      		font-size: 16px;
        	padding: 0px;
        	margin: 15px 0;
        	margin-left: 5px;
        	margin-right: 5px;
        	background: none;

      		@media screen and (max-width: $break-small) {                     
            display: none;
          }        

	    		&:hover{
	    			background: $brandpop;
	    		}

        	a {
        		padding: 5px;
        		color: $fontcolordark;

        		&:hover{
		    			color: $fontcolor;
		    		}
	      	}
	      }
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    // background: black;
    padding: 0;
    overflow: hidden;

    .landingtainer {
        position: relative;
        background: black;
    }
    .landing-img {
        opacity: 0.8;
        position: absolute;
        min-height: 445px;
    }
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
    h1 {
        font-family: 'Open Sans', sans-serif;
        margin-top: 61px;
    }
    p {        
        font-family: 'Open Sans', sans-serif;
    }
    // ////////////////////////////
    // this is the section for the dashboard
    // ////////////////////////////
    .js-dashboard {
        position: relative;
        overflow: hidden;

        .header-level-2 {
            overflow: hidden;
            margin-top: 25px;
            padding: 0 25px;
            color: $fontcolor;
        
            h2 {
                display: inline-block;
            }
        
            .add-team-toggle {
                margin-top: 2px;
            }

            button {
                display: inline-block;
                background: $brandpop;
                border: none;
                border-radius: 0px;
                color: #fff;
            }
                
            select {
                display: inline-block;
                @include inputgen;
                border-radius: 0px;
            }
            input {
                display: inline-block;
                @include inputgen;
            }
        }

        .maincontent {
            padding-top: 60px;
            position: relative;


            .section {
                position: relative;
                margin-bottom: 60px;
                overflow: hidden;

                &.team-snapshot {
                  font-size: 16px;
                  padding-left: 30px;
                  padding-right: 30px;

                  .board-title {
                  	padding-top: 20px;
                  	padding-bottom: 20px;
                  	padding-right: 30px;
                  	background: $brandbkgdthree;
                  	color: $fontcolordark;

                  	.team-title-info{                  	
                  		padding-left: 0px;

                  		h2 {
		                  	font-family: 'Open Sans', sans-serif;
                  			margin-top: 0px;
                  			padding-left: 0px;
                  		}

                  		h5 {
		                  	font-family: 'Open Sans', sans-serif;
                  			padding-left: 0px;
                  			margin-top: 0px;
                  			margin-bottom: 0px;
                  		}

                  		.team-name {
	                        text-align: left;
	                    }
	                    .sport-name {
	                        text-align: right;
	                    }
                  	}	
                  }

                  .board {
                  	font-family: 'Open Sans', sans-serif;
                  	padding-top: 10px;
                  	padding-bottom: 10px;
                  	background: $brandpop;

                  	h4 {
	                  	font-family: 'Open Sans', sans-serif;
                  		padding-left: 30px;
                  		text-align: left;

                    	a {
                    		color: $brandbkgdthree;	
                    		cursor: pointer;       

                    		&:hover {
                    			color: $brandbkgd;
                    		}            
                    	}
                  	}
                  }
                }

                .board-title {
                  background: $brandpop;
                  text-align: left;
                  border-radius: 4px 4px 0 0;
                  color: $fontcolor;
                  border: 1px solid $brandpop;
                  padding-left: 30px;
                  padding-right: 30px;
                  
                  h3 {
	                  font-family: 'Open Sans', sans-serif;
	                  font-weight: 400;
	                  padding-left: 0px;
	                }

                  @media screen and (max-width: $break-small) {                     
                      border-radius: 0px;
                  }

                  button {
                		width: auto;                		
                		height: 30px;
                		font-size: 16px;
                  	background: #fff;
                  	padding: 0px;
                  	border: 1px solid $brandpop;
                  	margin: 10px 0 20px;

                  		@media screen and (max-width: $break-small) {                     
                        display: none;
	                    }

                  	&:hover{
						    			background: $brandpop;
						    			border: 1px solid $brandbkgdthree;
						    		}

					        	a {
					        		padding: 5px;
					        		color: $fontcolordark;

					        		&:hover{
							    			color: $fontcolor;
							    		}
						      	}
                  }
                }

                .board {
                	// background: $brandpop;
                  border-radius: 0px 0px 4px 4px;
                  overflow: hidden;
                  color: $fontcolordark;
                  padding-left: 0px;
                  padding-right: 0px;
                  border: 1px solid $brandmain;

                  @media screen and (max-width: $break-small) {
                      display: none;
                  }

                  .full-pages {
                  	height: 1000px;
                  	overflow-y: scroll;

                  	.sm-input {
                  		width: 60px;
                  	}

                  	.event-container {
                  		padding-left: 0px;
                  		padding-right: 0px;
                  	}

                  	.message-container {
                  		padding-left: 0px;
                  		padding-right: 0px;	
                  	}

                  	.player-container {
                  		border: 1px solid $brandpop;
                  		border-radius: 4px;
                  		padding-bottom: 15px; 
                  		h3 {
                  			border-bottom: 1px solid $brandpop;
                  			padding-bottom: 5px;
                  		}

                  		h5 {
                  			margin: 3px 0;
                  		}
                  	}
                  	.coach-container {
                  		border: 1px solid $brandpop;
                  		border-radius: 4px;
                  		padding-bottom: 15px; 
                  		h3 {
                  			border-bottom: 1px solid $brandpop;
                  			padding-bottom: 5px;
                  		}

                  		h5 {
                  			margin: 3px 0;
                  		}
                  	}
                  }	
                  
                  button {
                		width: auto;
                		height: 30px;
                  	background: #fff;
                  	padding: 0px;
                  	border: 1px solid $brandpop;
                  	margin: 5px 5px;

                  		@media screen and (max-width: $break-small) {                     
                        display: none;
	                    }

	                    &:hover{
							    			background: $brandpop;
							    			border: 1px solid $brandbkgdthree;
							    		}

									   	a {
                  		padding: 5px;
	                  	text-align: center;
	                		font-size: 16px;
                  		color: $fontcolordark;
                  		cursor: pointer;

                  		&:hover{
                  			color: $fontcolor;
                  		}
                  	}
                  }

                  .events {
                  	overflow: hidden;
                  	background: $brandbkgdthree;

	                  .event-container {
                      border-bottom: 1px solid $brandpop;
                      font-size: 16px;
                      text-align: left;

                      .event-info {
                    		text-align: center;

                      	@media screen and (max-width: $break-small) {
                          display: none;
                        }

                      	.event-type {
                      		border-radius: 4px;
                      		background: $brandpop;
                      		color: #fff;
                      		
                      		h4 {
	                      		padding: 5px;	
                      		}
                      	}

                      	.cal-top {
                      		border-radius: 4px 4px 0 0; 
                      		background: $brandpop;                      	
                      		color: #fff;

                      		.event-mon{
                      			margin: 2px 0; 
                      		}
                      	}

                      	.cal-bot {  
                      		border-radius: 0 0 4px 4px;
                      		background: #fff;
                      		border: 1px solid $brandmain;
                      		margin-bottom: 10px;
                      		padding-top: 2px; 

                      		.event-time {
                      			margin: 0; 
	                      		padding: 2px;	
                      			color: $brandmain;                      
                      		}
                      	}                      
                      }
                      
                      .event-content-info {
                      	position: relative;

	                      .subject {
	                      	margin-top: 10px;
	                      	text-transform: uppercase; 
                          color: $brandmain;
                          margin-bottom: 6px;
	                      }

	                      .content {
	                      	height: 87px;
	                        font-family: 'Open Sans Condensed', sans-serif;
	                        font-size: 16px;
	                        border-radius: 4px;
	                        margin-bottom: 0px;
	                        margin-top: 3px;	                       
	                      }

	                      a {
	                      	color: green;
	                      }

	                      button {
	                      	a{
	                      		color: $brandpop;

	                      		&:hover {
	                      			color: $fontcolor;
	                      		}
	                      	}
	                      }
                      }
	                  }	                
                  }

                  .messages {
                  	overflow: hidden;
                  	background: $brandbkgdthree;

                  	.message-container {
                      border-bottom: 1px solid $brandpop;
                      font-size: 16px;
                      text-align: left;
                      padding-top: 5px; 
                      color: $fontcolordark;
                      
                      .msg-content-info {
                      	position: relative;
                      	padding: 0px;

                        h3 {
                          font-family: 'Open Sans', sans-serif;
                          font-weight: 400;
                          text-transform: uppercase;	                          
                        	margin: 0px;
                        	margin-top: 5px;
                        }         

                        h6 {
                          font-family: 'Open Sans', sans-serif;
                        	font-size: 12px;
                        	color: $fontcolordark; 
                    			text-align: right;                    

                        }              

                        p {
                        	word-break: break-all;
                          font-family: 'Open Sans', sans-serif;
                        	font-weight: 300;
                        }
	                      .content {
	                        font-size: 16px;
	                        margin-bottom: 0px;
	                        margin-top: 3px;
                          font-family: 'Open Sans', sans-serif;
                          font-weight: 400;
                          overflow: hidden;
                          margin-bottom: 10px;
	                      }
                      }
	                  }
	                }

                  &.roster {
                  	overflow: hidden;
                  	background: $brandbkgdthree;
										min-height: 820px;

                    .roster-section {
                        text-align: left;
                        background: none;
                        // background: lighten($brandmain, 10%);
                        color: $brandmain;	
                        padding-left: 30px;
                    }

                    .players {
                      margin: 0 auto;
                      float: none;

                      .player-container {
                        text-align: left;
                        font-size: 16px;

                        a {
                          cursor: pointer;
                          color: $brandpop;
                        }
	                    }
                    }

                    .coaches {
                        margin: 0 auto;
                        float: none;

                        .coach-container {
	                        text-align: left;
	                        font-size: 16px;

	                        a {
                          cursor: pointer;
                          color: $brandpop;
	                        }
		                    }
                    }
                  }
                }              
            }
        }
    }
    .inputtainer {
        border-radius: 10px;
        margin: 20px 0;
        color: $fontcolor;
        margin-bottom: 100px;
        
        h1 {
            margin-top: 120px;
        }

        .signup-button {
            background: $brandpop;
            border: none;
            border-radius: 0px;
            color: #fff;
        }
        .signup-tainer {
            overflow: hidden;
            position: relative;
            text-align: center;
            .centered {
                float: none;
                margin: 0 auto;
            }
            select {
                width: 100%;
                @include inputgen;
                border-radius: 0px;
            }
            input {
                width: 100%;
                @include inputgen;
            }
            .btn {
                background: $brandpop;
                width: 100%;
                color: #fff;
                border-radius: 0px;
            }
        }
    }
}

// icons

.ion-gear-a{
	font-size: 18px;
	margin-right: 8px;   
}

.ion-android-data {
	font-size: 18px;
	margin-right: 5px;   
}

.ion-clipboard {
	font-size: 18px;
	margin-right: 8px;   
}

.ion-plus-round {
	font-size: 18px;
	margin-right: 8px;
}

.ion-person-stalker{
	font-size: 25px;
	margin-right: 10px;
}

.ion-chatboxes {
	font-size: 25px;
	margin-right: 10px;	
}

.ion-ios7-calendar{
	font-size: 25px;
	margin-right: 10px;	
}

.ion-person {
	font-size: 300px;
	color: $fontcolor;
	text-align: center;		
}

.ion-ios7-location {
	margin-right: 5px;		
}
/* Supporting marketing content */
.marketing {
    position: relative;
    color: $fontcolordark;
    // background: $brandpop;
    margin: 0 0;
    margin-top: -30px;
    padding: 20px 0;

    p + h4 {
        
    }

    h3 {
        font-family: 'Walter Turncoat', cursive;
    }

    .team-search-bar {
    	background: $brandpop;
    	text-align: center;
    	color: $fontcolor;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        width: 960px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        // margin-bottom: 30px;
   
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {}
}