$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$brandbkgd: #E8DDCB; // light grey background
$brandbkgdtwo: #BDC3C7; // secondary bkgd
// $brandpop: #16A085;  // main color call to action
$brandpop: #2c3e50;  // Alternative1 red winner so far :)
// $brandpop: #088DD3;  // Alternative2 lighter blue looks pretty decent !
$fontcolor: #fff;   // font color / also the offset the main color
$brandmain: #2c3e50; //strong and sparse continuity

$break-small: 600px;

@media screen and (max-width: $break-small) {
    // this is where the media break changes go
}

@mixin inputgen {
    padding-left: 10px;
    // border-radius: 6px;
    font-size: 18px;
    height: 60px;
    background: #fff;
    color: $brandmain;
    text-align: left;
    line-height: 60px;
}

.modal-bkgd {
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.32);
	width: 100%;
	height: 100%;

	.modal-container {
		background: #fff;
		border-radius: 4px;
		width: 600px;
		height: auto;
		color: black; 
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -300px;
		margin-top: -height/2 ;


		@media screen and (max-width: $break-small) {
			width: 100%;
		}

		.modal-head {
			overflow: hidden;
		}

		.modal-body{
			overflow: hidden;
			padding: 10px;
			position: relative;

			.player-avatar {
				height: 100%;
				width: auto;
				background: blue;
				border-radius: 4px;
			}
		}
	}
}


/* Space out content a bit */

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: $fontcolor;
    background: $brandbkgd;
    // padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {}

/* Custom page header */
.header {
    padding: 0 0;
    background: $brandpop;

    a {
        color: #fff;
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            margin-left: 10px;
            margin-top: 13px;
        }
    }


    .head-login-form {
        @media screen and (max-width: $break-small) {
            width: 100%;
            overflow: hidden;
        }
        
        input {
            margin-top: 22px;
            // height: 100%;

            @media screen and (max-width: $break-small) {
                position: relative;
                width: 50%;
                display: inline-block;

            }
        }
        button {
      		width: auto;                		
      		height: 30px;
      		font-size: 12px;
        	background: #fff;
        	padding: 0px;
        	border: 1px solid $brandpop;
        	margin: 18px 0;

        		@media screen and (max-width: $break-small) {                     
              display: none;
            }

        	a {
        		padding: 5px;
        		color: $brandmain;

        		&:hover{
        			color: $brandpop;
        		}
        	}
        }
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background: $brandbkgd;
    border-bottom: 1px solid $brandbkgd;
    padding: 0;
    overflow: hidden;

    .landingtainer {
        position: relative;
        background: black;
    }
    .landing-img {
        opacity: 0.8;
        position: absolute;
        min-height: 445px;
    }
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
    h1 {
        font-family: 'Open Sans', sans-serif;
        margin-top: 61px;
    }
    p {        
        font-family: 'Open Sans', sans-serif;
    }
    // ////////////////////////////
    // this is the section for the dashboard
    // ////////////////////////////
    .js-dashboard {
        position: relative;
        overflow: hidden;

        .header-level-2 {
            overflow: hidden;
            margin-top: 25px;
            padding: 0 25px;
            color: $fontcolor;
        
            h2 {
                display: inline-block;
            }
        
            .add-team-toggle {
                margin-top: 2px;
            }

            button {
                display: inline-block;
                background: $brandpop;
                border: none;
                border-radius: 0px;
                color: #fff;
            }
                
            select {
                display: inline-block;
                @include inputgen;
                border-radius: 0px;
            }
            input {
                display: inline-block;
                @include inputgen;
            }
        }

        .maincontent {
            padding-top: 60px;
            position: relative;


            .section {
                position: relative;
                margin-bottom: 60px;
                overflow: hidden;

                &.team-snapshot {
                  font-size: 16px;
                  padding-left: 30px;
                  padding-right: 30px;

                  .board-title {

                  	.team-title-info{

                  		.team-name {
	                        text-align: left;
	                    }
	                    .sport-name {
	                        text-align: right;
	                    }
                  	}	

                  	.team-logo {
                  		margin-top: 4px;
                  		height: 90px;
                  		width: 90px;
                  		border-radius: 90px;
                  		border: 2px solid $brandpop;
                  		background: #fff;
                  	}
                  }

                  .board {

                  	h4 {
                  		padding-left: 45px;
                  		text-align: left;

                    	a {
                    		color: $brandmain;	
                    		cursor: pointer;       

                    		&:hover {
                    			color: $brandpop;
                    		}            
                    	}
                  	}
                  }
                }

                .board-title {
                  background: $brandmain;
                  border-bottom: 3px solid $brandpop;
                  text-align: left;
                  border-radius: 4px 4px 0 0;
                  color: #fff;
                  
                  h3 {
	                  font-family: 'Open Sans', sans-serif;
	                  font-weight: 400;
	                }

                  @media screen and (max-width: $break-small) {                     
                      border-radius: 0px;
                  }

                  button {
                		width: auto;                		
                		height: 30px;
                		font-size: 12px;
                  	background: #fff;
                  	padding: 0px;
                  	border: 1px solid $brandpop;
                  	margin: 18px 0;

                  		@media screen and (max-width: $break-small) {                     
                        display: none;
	                    }

                  	a {
                  		padding: 5px;
                  		color: $brandmain;

                  		&:hover{
                  			color: $brandpop;
                  		}
                  	}
                  }
                }

                .board {
                	background: #fff;
                  border-radius: 0 0 4px 4px;
                  overflow: hidden;
                  color: $brandmain;
                  padding-left: 0px;
                  padding-right: 0px;

                  @media screen and (max-width: $break-small) {
                      display: none;
                  }

                  .full-pages {
                  	height: 1000px;
                  	overflow-y: scroll;
                  }	
                  
                  button {
                		width: auto;
                		height: 30px;
                  	background: #fff;
                  	padding: 0px;
                  	border: 1px solid $brandpop;
                  	margin: 5px 5px;

                  		@media screen and (max-width: $break-small) {                     
                        display: none;
	                    }

                  	a {
                  		padding: 5px;
	                  	text-align: center;
	                		font-size: 16px;
                  		color: $brandmain;
                  		cursor: pointer;

                  		&:hover{
                  			color: $brandpop;
                  		}
                  	}
                  }

                  .events {

	                  .event-container {
                      border-bottom: 1px solid $brandpop;
                      font-size: 16px;
                      text-align: left;

                      .event-info {
                    		text-align: center;

                      	@media screen and (max-width: $break-small) {
                          display: none;
                        }

                      	.event-type {
                      		border-radius: 4px;
                      		background: $brandpop;
                      		color: #fff;
                      		
                      		h4 {
	                      		padding: 5px;	
                      		}
                      	}

                      	.cal-top {
                      		border-radius: 4px 4px 0 0; 
                      		background: $brandmain;                      	
                      		color: #fff;

                      		.event-mon{
                      			margin: 2px 0; 
                      		}
                      	}

                      	.cal-bot {  
                      		border-radius: 0 0 4px 4px;
                      		background: #fff;
                      		border: 1px solid $brandmain;
                      		margin-bottom: 10px;
                      		padding-top: 2px; 

                      		.event-time {
                      			margin: 0; 
	                      		padding: 2px;	
                      			color: $brandmain;                      
                      		}
                      	}                      
                      }
                      
                      .event-content-info {
                      	position: relative;

	                      .subject {
	                      	margin-top: 10px;
	                      	text-transform: uppercase; 
                          color: $brandmain;
                          margin-bottom: 6px;
	                      }

	                      .content {
	                      	height: 87px;
	                        font-family: 'Open Sans Condensed', sans-serif;
	                        font-size: 16px;
	                        border-radius: 4px;
	                        margin-bottom: 0px;
	                        margin-top: 3px;	                       
	                      }
                      }
	                  }	                
                  }

                  .messages {

                  	.message-container {
                      border-bottom: 1px solid $brandpop;
                      font-size: 16px;
                      text-align: left;
                      padding-top: 5px; 
                      
                      .msg-content-info {
                      	position: relative;
                      	padding: 0px;

                        h3 {
                          font-family: 'Open Sans', sans-serif;
                          font-weight: 400;
                          text-transform: uppercase;	                          
                        	margin: 0px;
                        	margin-top: 5px;
                        }         

                        h6 {
                          font-family: 'Open Sans', sans-serif;
                        	font-size: 12px;
                        	color: #fff;
                    			color: $brandmain;  
                    			text-align: right;                    

                        }              

                        p {
                        	word-break: break-all;
                          font-family: 'Open Sans', sans-serif;
                        	font-weight: 300;
                        }
	                      .content {
	                        font-size: 16px;
	                        margin-bottom: 0px;
	                        margin-top: 3px;
                          font-family: 'Open Sans', sans-serif;
                          font-weight: 400;
                          overflow: hidden;
                          margin-bottom: 10px;
	                      }
                      }
	                  }
	                }

                  &.roster {
										min-height: 865px;

                    .roster-section {
                        text-align: left;
                        background: lighten($brandpop, 20%);
                        color: #fff;	
                        padding-left: 30px;
                    }

                    .players {
                      margin: 0 auto;
                      float: none;

                      .player-container {
                        text-align: left;
                        font-size: 16px;

                        a {
                          cursor: pointer;
                        }
	                    }
                    }

                    .coaches {
                        margin: 0 auto;
                        float: none;

                        .coach-container {
	                        text-align: left;
	                        font-size: 16px;

	                        a {
                          cursor: pointer;
                        }
		                    }
                    }
                  }
                }              
            }
        }
    }
    .inputtainer {
        border-radius: 10px;
        margin: 20px 0;
        color: $fontcolor;
        margin-bottom: 100px;
        
        h1 {
            margin-top: 120px;
        }

        .signup-button {
            background: $brandpop;
            border: none;
            border-radius: 0px;
            color: #fff;
        }
        .signup-tainer {
            overflow: hidden;
            position: relative;
            text-align: center;
            .centered {
                float: none;
                margin: 0 auto;
            }
            select {
                width: 100%;
                @include inputgen;
                border-radius: 0px;
            }
            input {
                width: 100%;
                @include inputgen;
            }
            .btn {
                background: $brandpop;
                width: 100%;
                color: #fff;
                border-radius: 0px;
            }
        }
    }
}

/* Supporting marketing content */
.marketing {
    position: relative;
    color: $brandmain;
    background: $brandbkgd;
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }

    h3 {
        font-family: 'Walter Turncoat', cursive;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        // margin-bottom: 30px;
   
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {}
}