<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class=no-js><!--<![endif]--><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><title>FO</title><meta name=description content=""><meta name=viewport content="width=device-width"><!-- Place favicon.ico and apple-touch-icon.png in the root directory --><link rel=stylesheet href=styles/vendor.css><link rel=stylesheet href=styles/abc953fa.main.css><script src=bower_components/modernizr/modernizr.js></script><body><!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--><div class=header></div><div class=jumbotron></div><div class="row marketing"></div><!-- ////////////////////////// --><!-- Below are all my templates --><!-- ////////////////////////// --><!-- Guest header templates --><script type=text/template id=guest-headerbar-template><a href=""><h2 class="pull-left">FRONT OFFICE</h2></a>
            <div class="head-login-form">
                <input id="password" type="password" value="1234" placeholder="Password" class="password js-login-password pull-right"></input>
                <input value="bertman45@gmail.com" placeholder="Username"class="email js-login-username pull-right"></input>
                <button class="button btn btn-inverse pull-right js-login">LOGIN</button>
            </div></script><!-- Main App View Template --><script type=text/template id=appview-template><img src="images/41a99da1.Landing.jpg" class="landing-img img-responsive" alt="Responsive image">
            <div class="container">
                <div class="col-xs-12 inputtainer">
                    <h1>Front Office</h1>
                    <p class="lead">A Sports Team Management Software</p>
                    <div class="col-xs-12">
                        <button class="signup-button js-signup">Create A Team</button>
                    </div>
                </div>
            </div></script><!-- Signup template --><script type=text/template id=signup-template><div class="col-xs-12 col-md-6 centered">
                <h2>Create Your Team Below!</h2>
                <input placeholder="Team Name"class="col-xs-12 username js-teamname"></input>
                <select class="col-xs-12 js-team-sport">
                    <option value="" disabled selected>Sport</option>
                    <option value="Baseball">Baseball</option>
                    <option value="Football">Football</option>
                    <option value="Soccer">Soccer</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Other">Other</option>
                </select>
                <input placeholder="Email"class="col-xs-12 email js-coach-username"></input>
                <input id="password" type="password" placeholder="Password"class="col-xs-12 password js-coach-password"></input>
                    <button class="col-xs-12 button btn js-create-team">Create</button>
            </div></script><!-- This is the Marketing Template --><script type=text/template id=marketing-template><div class="service col-xs-6">
                <!-- <img src=""> need to add in a calander here for an image -->
                <h3>Scheduling</h3>
                <p>With FrontOffice you will be able to quickly set up a team schedule for practices and games. After that you will be able to distrubte this schedule out to players, parents, and other coaches. </p>
            </div> 
            <div class="service col-xs-6">
                <!-- <img src=""> need to add in a calander here for an image -->
                <h3>Scheduling</h3>
                <p>With FrontOffice you will be able to quickly set up a team schedule for practices and games. After that you will be able to distrubte this schedule out to players, parents, and other coaches. </p>
            </div>
            <div class="service col-xs-6">
                <!-- <img src=""> need to add in a calander here for an image -->
                <h3>Scheduling</h3>
                <p>With FrontOffice you will be able to quickly set up a team schedule for practices and games. After that you will be able to distrubte this schedule out to players, parents, and other coaches. </p>
            </div>
            <div class="service col-xs-6">
                <!-- <img src=""> need to add in a calander here for an image -->
                <h3>Scheduling</h3>
                <p>With FrontOffice you will be able to quickly set up a team schedule for practices and games. After that you will be able to distrubte this schedule out to players, parents, and other coaches. </p>
            </div></script><!-- Coach header template --><script type=text/template id=user-headerbar-template><a href=""><h2 class="pull-left">Manager Dashboard</h2></a>
            <div class="head-login-form pull-right">
			        <button class="button btn col-xs-7"><a class="js-create-new-team">Add Team</a></button>
              <button class="button btn btn-inverse col-xs-5 js-logout"><a href="">LOGOUT 	</a></button>               
            </div></script><!-- Coach Dashboard Template --><script type=text/template id=coach-dashboard><div class="js-dashboard row">
                <div class="maincontent col-xs-12">
                    <div class="js-team-snapshot-container"></div>
                </div>
            </div></script><!-- TeamSnapshot Template --><script type=text/template id=team-snapshot><div class="col-xs-12 board-title">
			        <div class="team-title-info col-xs-9">
				        <h2 class="col-xs-12"><%= this.model.get('teamname')%></h2>
				        <h5 class="col-xs-9">Sport: <%= this.model.get('sport') %></h5>
			        </div>
							<div class="team-logo col-xs-3"></div>
            </div>
            <div class="col-xs-12 board js-team">
							<h4 class="col-xs-12"><a class="js-manage-team" href='#/team/<%= this.link %>'>Team Dashboard</a></h4>
							<h4 class="col-xs-12"><a class="js-manage-team-tryout" href='#/team/tryout/<%= this.link %>'>Manage Tryouts</a></h4>
							<h4 class="col-xs-12"><a class="js-team-settings">Team Settings</a></h4>
            </div></script><!-- need to add routes for team settings, and team tryout page
        	also need to put an if statement wether or not the team has a logo
         --><!-- Team header template --><script type=text/template id=team-headerbar-template><a href=""><h2 class="pull-left"><%= this.model.get('teamname')%> Dashboard</h2></a>
            <div class="head-login-form pull-right">
	            <button class="button btn col-xs-8"><a class="js-team-settings">Team Settings</a></button>  
              <button class="button btn btn-inverse col-xs-4 js-logout"><a href="">LOGOUT</a></button>               
            </div></script><!--// <li class="col-xs-3"><a class="js-add-player-creation">Add Player</a></li>
    // <li class="col-xs-3"><a class="js-add-coach-creation">Add Coach</a></li> --><!-- Team Dashboard Template --><script type=text/template id=team-dashboard><div class="js-dashboard row">
                <div class="maincontent col-xs-12">
                    <div class="col-xs-4 left-section">                    
	                    <div class="col-sm-12 section">
	                        <div class="col-xs-12 board-title">
	                        	<h3 class="col-sm-12 col-xs-12">Roster</h3>
	                        </div>
	                        <div class="col-xs-12 roster board">	
                            <span class="roster-section col-xs-12" >Players</span>
                            <div class="col-xs-11 players"></div>                                
                            <span class="roster-section col-xs-12" >Coaches</span>
                            <div class="col-xs-11 coaches"></div>
										        <button class="btn col-xs-12" style="float: none;"><a href='#/team/roster/<%= this.model.id %>'>Full Roster</a></button> 
	                        </div>
	                    </div>                
                    </div>
                    <div class="col-xs-8 right-section">                    
	                    <div class="col-xs-12 section">
	                        <div class="col-xs-12 board-title">
										        <h3 class="col-sm-8 col-xs-12">Recent Messages</h3>
										        <button class="btn col-xs-4 pull-right"><a class="js-send-message-creation">Send Message</a></button> 
	                        </div>
	                        <div class="col-xs-12 board">
														<div class="messages"></div>
										        <button class="btn button"><a href='#/team/messages/<%= this.model.id %>'>All Messages</a></button> 
	                        </div>
	                    </div>                
	                    <div class="col-sm-12 section">
	                        <div class="col-xs-12 board-title">
										        <h3 class="col-xs-8">Upcoming Schedule</h3>
										        <button class="btn col-xs-4 pull-right"><a class="js-add-event-creation">Create Event</a></button> 
	                        </div>
	                        <div class="col-xs-12 board">
		                        <div class="events"></div>
										        <button class="btn button"><a href='#/team/events/<%= this.model.id %>'>Full Schedule</a></button> 										        
	                        </div>
	                    </div>                        
                    </div>
                </div>
            </div></script><!-- Roster Page Template --><script type=text/template id=team-full-roster><div class="js-dashboard row">
              <div class="maincontent col-xs-12">
                <div class="col-xs-12 section">
                  <div class="col-xs-12 board-title">
                  	<h3 class="col-xs-12">Roster</h3>				            
										<div class="head-login-form pull-left" >
					            <button class="button btn js-players"><a>Players</a></button>  
				              <button class="button btn js-coaches"><a>Coaches</a></button>
				            </div>
				            <div class="head-login-form pull-right" >  
				              <button class="button btn js-add-player"><a>Add Player</a></button>
				              <button class="button btn js-add-coach"><a>Add Coach</a></button>
				            </div>
                  </div>
                  <div class="col-xs-12 roster board">
                    <div class="col-xs-12 players coaches full-pages"></div> 
                  </div>
                </div>                
              </div>
            </div></script><!-- Full Message Page Template --><script type=text/template id=full-message-page><div class="js-dashboard row">
              <div class="maincontent col-xs-12">
                <div class="col-xs-12 section">
                  <div class="col-xs-12 board-title">
                  	<h3 class="pull-left">Messages</h3>				            
										<div class="head-login-form pull-right" >
					            <button class="button btn js-send-msg"><a>Send Message</a></button>  
				            </div>
                  </div>
                  <div class="col-xs-12 board">
                    <div class="col-xs-12 messages full-pages"></div> 
                  </div>
                </div>                
              </div>
            </div></script><!-- Full schedule Page Template --><script type=text/template id=full-schedule-page><div class="js-dashboard row">
              <div class="maincontent col-xs-12">
                <div class="col-xs-12 section">
                  <div class="col-xs-12 board-title">
                  	<h3 class="pull-left">Schedule</h3>				            
										<div class="head-login-form pull-right" >
					            <button class="button btn js-new-event"><a>New Event</a></button>  
				            </div>
                  </div>
                  <div class="col-xs-12 roster board">
                    <div class="col-xs-12 events full-pages"></div> 
                  </div>
                </div>                
              </div>
            </div></script><!-- This is the Player listview template --><script type=text/template id=player-list><a class="js-person-expand"><%= this.model.get('firstName')+' '+this.model.get('lastName')%></a></script><!-- This is the Player listview template --><script type=text/template id=full-player-list><input value="<%= this.model.get('firstName')%>" class=" js-form-player-firstname"></input>
            <input value="<%= this.model.get('lastName')%>" class=" js-form-player-lastname"></input>
            <input value="<%= this.model.get('email')%>" class=" js-form-player-email"></input>
            <input value="<%= this.model.get('phoneAcode')%>" class=" js-form-player-phone-acode"></input>
            <input value="<%= this.model.get('phoneThree')%>" class=" js-form-player-phone-three"></input>
            <input value="<%= this.model.get('phoneFour')%>" class=" js-form-player-phone-four"></input>
            <input value="<%= this.model.get('address')%>" class=" js-form-player-address"></input>
            <input value="<%= this.model.get('city')%>" class=" js-form-player-city"></input>
            <input value="<%= this.model.get('state')%>" class=" js-form-player-state"></input>
            <input value="<%= this.model.get('zip')%>" class=" js-form-player-zip"></input>
            <select class="js-form-player-position-primary">
                <option value="<%= this.model.get('primaryPos')%>" selected><%= this.model.get('primaryPos')%></option>
                <option value="P">P</option>
                <option value="C">C</option>
                <option value="1B">1B</option>
                <option value="2B">2B</option>
                <option value="SS">SS</option>
                <option value="3B">3B</option>
                <option value="RF">RF</option>
                <option value="CF">CF</option>
                <option value="LF">LF</option>
                <option value="DH">DH</option>
                <option value="U">U</option>
                <option value="Other">Other</option>
                <option value="" disabled >Primary Position</option>
            </select>
            <select class="js-form-player-position-secondary">
                <option value="<%= this.model.get('secondaryPos')%>" selected><%= this.model.get('secondaryPos')%></option>
                <option value="P">P</option>
                <option value="C">C</option>
                <option value="1B">1B</option>
                <option value="2B">2B</option>
                <option value="SS">SS</option>
                <option value="3B">3B</option>
                <option value="RF">RF</option>
                <option value="CF">CF</option>
                <option value="LF">LF</option>
                <option value="DH">DH</option>
                <option value="U">U</option>
                <option value="Other">Other</option>
                <option value="" disabled >Secondary Position</option>
            </select>
						<button class="button btn js-edit">Save Edits</button>
            <button class="button btn js-delete">Delete Player</button></script><!-- This is the expanded PlayerCard view --><script type=text/template id=player-card-addition><div class="modal-container">
				  		<div class="col-xs-12 modal-body">		                     
								<div class="portrait"></div>
								<h3><%= this.model.get('firstName')+' '+this.model.get('lastName') %></h3>
								<h6>Address: <%= this.model.get('address')+' '+this.model.get('city')+', '+this.model.get('state')+' '+this.model.get('zip')%></h6>
								<h6>Email: <%= this.model.get('email')%></h6>
								<h6>Phone: <%= this.model.get('phoneAcode')+'.'+this.model.get('phoneThree')+'.'+this.model.get('phoneFour')%></h6>
								<br>
								<h6>Primary Position: <%= this.model.get('primaryPos')%></h6>
								<h6>Secondary Position: <%= this.model.get('secondaryPos')%></h6>
		            <button class="button btn js-close-view">Cancel</button>   
				  		</div>
				  	</div></script><!-- This is the Coach listview template --><script type=text/template id=coach-list><a class="js-person-expand"><%= this.model.get('firstName')+' '+this.model.get('lastName')%></a></script><!-- This is the Coach listview template --><script type=text/template id=full-coach-list><input value="<%= this.model.get('firstName')%>" class=" js-form-coach-firstname"></input>
            <input value="<%= this.model.get('lastName')%>" class=" js-form-coach-lastname"></input>
            <input value="<%= this.model.get('email')%>@gmail.com" class=" js-form-coach-email"></input>
            <input value="<%= this.model.get('phoneAcode')%>" class=" js-form-coach-phone-acode"></input>
            <input value="<%= this.model.get('phoneThree')%>" class=" js-form-coach-phone-three"></input>
            <input value="<%= this.model.get('phoneFour')%>" class=" js-form-coach-phone-four"></input>
            <input value="<%= this.model.get('address')%>" class=" js-form-coach-address"></input>
            <input value="<%= this.model.get('city')%>" class=" js-form-coach-city"></input>
            <input value="<%= this.model.get('state')%>" class=" js-form-coach-state"></input>
            <input value="<%= this.model.get('zip')%>" class=" js-form-coach-zip"></input>
            <select class="js-form-coach-position-role">
                <option value="<%= this.model.get('role')%>" selected><%= this.model.get('role')%></option>
                <option value="Batting">Batting</option>
                <option value="Pitching">Pitching</option>
                <option value="General">General</option>
                <option value="Outfield">Outfield</option>
                <option value="Infield">Infield</option>
                <option value="Catching">Catching</option>
                <option value="Conditioning">Conditioning</option>
                <option value="Strength">Strength</option>
            </select>
						<button class="button btn js-edit">Save Edits</button>
            <button class="button btn js-delete">Delete Coach</button></script><!-- This is the expanded PlayerCard view --><script type=text/template id=coach-card-addition><div class="modal-container">
				  		<div class="col-xs-12 modal-body">		                     
								<div class="portrait"></div>
								<h3><%= this.model.get('firstName')+' '+this.model.get('lastName') %></h3>
								<h6>Address: <%= this.model.get('address')+' '+this.model.get('city')+', '+this.model.get('state')+' '+this.model.get('zip')%></h6>
								<h6>Email: <%= this.model.get('email')%></h6>
								<h6>Phone: <%= this.model.get('phoneAcode')+'.'+this.model.get('phoneThree')+'.'+this.model.get('phoneFour')%></h6>
								<br>
								<h6>Primary Role: <%= this.model.get('role')%></h6>
		            <button class="button btn js-close-view">Cancel</button>   
				  		</div>
				  	</div></script><!-- This is the Message listview template --><script type=text/template id=message-list><div class="msg-content-info col-xs-12">
						<h3 class='col-xs-8'><%= this.model.get('subject')%></h3>
            <h6 class="col-xs-4 message-time"><%= moment(this.model.get('date')).fromNow()%></h6>
					  <p class="col-xs-12 content"><%= this.model.get('content')%></p>	
					</div></script><script type=text/template id=full-message-list><div class="msg-content-info col-xs-12">
						<h3 class='col-xs-8'><%= this.model.get('subject')%></h3>
            <h6 class="col-xs-4 message-time"><%= moment(this.model.get('date')).fromNow()%></h6>
					  <p class="col-xs-12 content"><%= this.model.get('content')%></p>	
					</div>
					<div class="action-container pull-right">
						  <button class="button btn"><a class="js-delete-msg col-xs-12">Delete</a></button> 
				  </div></script><!-- // <button class="button btn"><a class="js-edit-msg col-xs-12">Edit</a></button>  --><!-- This is the event list template --><script type=text/template id=event-list><div class="event-info col-xs-3">
            <div class="event-type">
							<h4><%= this.model.get('type')%></h4>
            </div>
						<div class="cal-top col-xs-12">
	            <h4 class="event-mon"><%= moment(this.model.get('date')).format("MMM, D")%></h4>
						</div>
						<div class="cal-bot col-xs-12">          
              <span class="col-xs-12 event-time"><%= this.model.get('startTime')%></span>                
              <span class="col-xs-12 event-time"><%= this.model.get('endTime')%></span>                
						</div>
					</div>
					<div class="event-content-info col-xs-9">
					  <h4 class="col-xs-12 subject"><%= this.model.get('subject')%></h4>
						<span class="col-xs-12 event-location"><a href="">Directions</a></span>
					  <p class="col-xs-12 content"><%= this.model.get('content')%></p>	
					</div></script><script type=text/template id=full-event-list><div class="event-info col-xs-3">
            <div class="event-type">
							<h4><%= this.model.get('type')%></h4>
            </div>
						<div class="cal-top col-xs-12">
	            <h4 class="event-mon"><%= moment(this.model.get('date')).format("MMM, D")%></h4>
						</div>
						<div class="cal-bot col-xs-12">          
              <span class="col-xs-12 event-time"><%= this.model.get('startTime')%></span>                
              <span class="col-xs-12 event-time"><%= this.model.get('endTime')%></span>                
						</div>
					</div>
					<div class="event-content-info col-xs-9">
					  <h4 class="col-xs-12 subject"><%= this.model.get('subject')%></h4>
						<span class="col-xs-12 event-location"><a href="">Directions</a></span>
					  <p class="col-xs-12 content"><%= this.model.get('content')%></p>
					  <div class="action-container pull-right">
						  <button class="button btn"><a class="js-delete-msg col-xs-12">Delete</a></button> 
					  </div>
					</div></script><!-- // <button class="button btn"><a class="js-edit-msg col-xs-12">Edit</a></button>  --><!-- this is the add message form while in the team dashboard --><script type=text/template id=team-message-addition><div class="modal-container">
				  		<div class="col-xs-12 modal-body">
		            <input placeholder="Subject" class="js-msg-subject"></input>
		            <textarea placeholder="Content" class="js-msg-content"></textarea>
		            <button class="button btn js-send-message">Send</button>
		            <button class="button btn js-close-view">Cancel</button>		          
				  		</div>
				  	</div></script><!-- Select Team Template --><script type=text/template id=teamname-list-item><option><%= result.get('teamname') %></option></script><!-- Add Team Form --><script type=text/template id=team-addition><div class="modal-container">
				  		<div class="col-xs-12 modal-body">
		            <input value="Enfuego" placeholder="Teamname"class="username js-form-teamname"></input>
	              <select class="js-form-team-sport">
	                <option value="" disabled selected>Sport</option>
	                <option value="Baseball">Baseball</option>
	                <option value="Football">Football</option>
	                <option value="Soccer">Soccer</option>
	                <option value="Basketball">Basketball</option>
	                <option value="Other">Other</option>
		            </select>
		            <button class="button btn js-add-team">Add team</button>
		            <button class="button btn js-close-view">Cancel</button>
				  		</div>
				  	</div></script><script type=text/template id=event-addition><div class="modal-container">
				  		<div class="col-xs-12 modal-body">
		            <input placeholder="Subject/Opponent" class="username js-form-event-subject"></input>
		            <input placeholder="Location/Opponent" class="username js-form-event-location"></input>
								<textarea placeholder="notes" class="username js-form-event-notes"></textarea>
		            <select class="js-form-event-type">
		                <option value="" disabled selected>Event Type</option>
		                <option value="Game">Game</option>
		                <option value="Practice">Practice</option>
		                <option value="Meetup">Meetup</option>
		            </select>
		            <input placeholder="Pick A Date"type='text' class='js-date-picker'>
		            <input placeholder="From: Time"type="text" class="js-time-from-picker">
		            <input placeholder="To: Time "type="text" class="js-time-to-picker">            
		            <button class="button btn js-add-event">Add Event</button>
		            <button class="button btn js-close-view">Cancel</button>
		          </div>
				  	</div></script><script type=text/template id=player-addition><div class="modal-container">
				  		<div class="col-xs-12 modal-body">
		            <input value="Matt" placeholder="first name" class=" js-form-player-firstname"></input>
		            <input value="Bertino" placeholder="last name" class=" js-form-player-lastname"></input>
		            <input value="bertman45@gmail.com" placeholder="email" class=" js-form-player-email"></input>
		            <input value="561" placeholder="" class=" js-form-player-phone-acode"></input>
		            <input value="543" placeholder="" class=" js-form-player-phone-three"></input>
		            <input value="7466" placeholder="" class=" js-form-player-phone-four"></input>
		            <input value="194 Jones Creek Dr" placeholder="address" class=" js-form-player-address"></input>
		            <input value="Jupiter" placeholder="city" class=" js-form-player-city"></input>
		            <input value="FL" placeholder="state" class=" js-form-player-state"></input>
		            <input value="33458" placeholder="zip" class=" js-form-player-zip"></input>
		            <select class="js-form-player-position-primary">
		                <option value="" disabled selected>Primary Position</option>
		                <option value="P">P</option>
		                <option value="C">C</option>
		                <option value="1B">1B</option>
		                <option value="2B">2B</option>
		                <option value="SS">SS</option>
		                <option value="3B">3B</option>
		                <option value="RF">RF</option>
		                <option value="CF">CF</option>
		                <option value="LF">LF</option>
		                <option value="DH">DH</option>
		                <option value="U">U</option>
		                <option value="Other">Other</option>
		            </select>
		            <select class="js-form-player-position-secondary">
		                <option value="" disabled selected>Secondary Position</option>
		                <option value="P">P</option>
		                <option value="C">C</option>
		                <option value="1B">1B</option>
		                <option value="2B">2B</option>
		                <option value="SS">SS</option>
		                <option value="3B">3B</option>
		                <option value="RF">RF</option>
		                <option value="CF">CF</option>
		                <option value="LF">LF</option>
		                <option value="DH">DH</option>
		                <option value="U">U</option>
		                <option value="Other">Other</option>
		            </select>
		            <button class="button btn js-add-player">Add Player</button>
		            <button class="button btn js-close-view">Cancel</button>
	            </div>
				  	</div></script><script type=text/template id=coach-addition><div class="modal-container">
				  		<div class="col-xs-12 modal-body">
		            <input value="Matt" placeholder="first name" class=" js-form-coach-firstname"></input>
		            <input value="Bertino" placeholder="last name" class=" js-form-coach-lastname"></input>
		            <input value="bertman45@gmail.com" placeholder="email" class=" js-form-coach-email"></input>
		            <input value="561" placeholder="" class=" js-form-coach-phone-acode"></input>
		            <input value="543" placeholder="" class=" js-form-coach-phone-three"></input>
		            <input value="7466" placeholder="" class=" js-form-coach-phone-four"></input>
		            <input value="194 Jones Creek Dr" placeholder="address" class=" js-form-coach-address"></input>
		            <input value="Jupiter" placeholder="city" class=" js-form-coach-city"></input>
		            <input value="FL" placeholder="state" class=" js-form-coach-state"></input>
		            <input value="33458" placeholder="zip" class=" js-form-coach-zip"></input>
		            <select class="js-form-coach-position-role">
		                <option value="" disabled selected>Primary Role</option>
		                <option value="Batting">Batting</option>
		                <option value="Pitching">Pitching</option>
		                <option value="General">General</option>
		                <option value="Outfield">Outfield</option>
		                <option value="Infield">Infield</option>
		                <option value="Catching">Catching</option>
		                <option value="Conditioning">Conditioning</option>
		                <option value="Strength">Strength</option>
		            </select>
		            <button class="button btn js-add-coach">Add Coach</button>
		            <button class="button btn js-close-view">Cancel</button>
		          </div>
				  	</div></script><script type=text/template id=settings-addition><div class="modal-container">
				  		<div class="col-xs-12 modal-body">
		            <input value="Ice" placeholder="Teamname" class=" js-form-teamset-name"></input>
		            <select class="js-form-teamset-sport">
		                <option value="Baseball">Baseball</option>
		                <option value="Football">Football</option>
		                <option value="Soccer">Soccer</option>
		                <option value="Basketball">Basketball</option>
		                <option value="Other">Other</option>
		            </select>
		            <button class="button btn js-teamset-edit">Save Team Edits</button>
		            <button class="button btn js-teamset-delete">Delete Team</button>
		            <button class="button btn js-close-view">Cancel</button>		        
				  		</div>
				  	</div></script><!-- ////////////////////////// --><!-- End of my templates --><!-- ////////////////////////// --><script src=scripts/9622796b.vendor.js></script><!-- this is the parse sdk --><script src=//www.parsecdn.com/js/parse-1.2.17.min.js></script><!-- Google Analytics: change UA-XXXXX-X to be your site's ID. --><script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');</script><script src=scripts/aaf74903.plugins.js></script><script src=scripts/f5f2f8af.main.js></script>