<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <!-- endbuild -->
        <script src="bower_components/modernizr/modernizr.js"></script>

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="header">
        </div>

        <div class="jumbotron">
        </div>

        <div class="row marketing">
        </div>

        <!-- ////////////////////////// -->
        <!-- Below are all my templates -->
        <!-- ////////////////////////// -->
<!-- Guest header templates -->
        <script type="text/template" id="guest-headerbar-template">
            <a href="">
                <h2 class="pull-left">FRONT OFFICE</h2>
            </a>
            <div class="head-login-form">
                <input value="1234" placeholder="Password" class="password js-login-password pull-right"></input>
                <input value="bertman45@gmail.com" placeholder="Username"class="email js-login-username pull-right"></input>
                <button class="button btn btn-inverse pull-right js-login">LOGIN</button>
            </div>
        </script>

<!-- Main App View Template -->
        <script type="text/template" id="appview-template">
            <img src="images/Landing.jpg" class="landing-img img-responsive" alt="Responsive image">
            <div class="container">
                <div class="col-xs-12 inputtainer">
                    <h1>Front Office</h1>
                    <p class="lead">A Sports Team Management Software</p>
                    <div class="col-xs-12">
                        <button class="signup-button js-signup">Create A Team</button>
                    </div>
                </div>
            </div>
        </script>

<!-- Signup template -->
        <script type="text/template" id="signup-template">
            <div class="col-xs-12 col-md-6 centered">
                <h2>Create Your Team Below!</h2>
                <input placeholder="Team Name"class="col-xs-12 username js-teamname"></input>
                <select class="col-xs-12 js-team-sport">
                    <option value="" disabled selected>Select Sport</option>
                    <option value="Baseball">Baseball</option>
                    <option value="Football">Football</option>
                    <option value="Soccer">Soccer</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Other">Other</option>
                </select>
                <input placeholder="Email"class="col-xs-12 email js-coach-username"></input>
                <input placeholder="Password"class="col-xs-12 password js-coach-password"></input>
                    <button class="col-xs-12 button btn js-create-team">Create</button>
            </div>
        </script>

<!-- Find Team Template -->
        <script type="text/template" id="find-template">
            <input placeholder="Teamname???" class="search"></input>
            <button class="button btn btn-inverse js-find-team">Find Team</button>
        </script>

<!-- This is the Marketing Template -->
        <script type="text/template" id="marketing-template">
                <div class="service col-xs-12">
                    <!-- <img src=""> need to add in a calander here for an image -->
                    <h3>Scheduling</h3>
                    <p>With FrontOffice you will be able to quickly set up a team schedule for practices and games. After that you will be able to distrubte this schedule out to players, parents, and other coaches. </p>
                </div>
        </script>

<!-- Coach header template -->
        <script type="text/template" id="user-headerbar-template">
                <a href="">
                    <h2 class="pull-left">Dashboard</h2>
                </a>
            <div class="head-login-form">
                <a href="">
                    <button class="button btn btn-inverse pull-right js-logout">LOGOUT</button>
                </a>
            </div>
        </script>
<!-- Coach Dashboard Template -->
        <script type="text/template" id="coach-dashboard">
            <div class="js-dashboard row">
                <div class="maincontent col-xs-12">
                </div>
            </div>
        </script>

<!-- Add team button on the coach dashboard -->
        <script type="text/template" id="add-team-button-template">
            <div class="pull-right add-team-toggle js-add-team-toggle">
                <button class="button btn">ADD TEAM</button>
            </div>
            <div class="create-team-form hidden pull-right js-create-team-form">
                <input value="Enfuego" placeholder="Teamname"class="username js-form-teamname"></input>
                <select class="js-form-team-sport">
                    <option value="" disabled selected>Select Sport</option>
                    <option value="Baseball">Baseball</option>
                    <option value="Football">Football</option>
                    <option value="Soccer">Soccer</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Other">Other</option>
                </select>
                <button class="button btn js-add-team">ADD TEAM</button>
            </div>
        </script>

<!-- TeamSnapshot Template -->
        <script type="text/template" id="team-snapshot">
            <div class="col-xs-12 board-title"><%= this.model.get('sport') %> - <%= this.model.get('teamname') %>
                <img src="images/settings.png" class="pull-right settings-icon">
            </div>
            <div class="col-xs-12 board js-team">
                <li>Record: <%= this.model.get('numWins')%> : <%= this.model.get('numWins')%></li>
                <li>Players: <%= this.model.get('numPlayers')%></li>
                <li>Coaches: <%= this.model.get('numCoaches')%></li>
                <li>Unread Messages: <%= this.model.get('numMessages') - this.model.get('numReadMessages')%></li>
                <li>Next Event: </li>

            </div> 
        </script>
<!-- Team header template -->
        <script type="text/template" id="team-headerbar-template">
                <a href="">
                    <h2 class="pull-left">Team Dashboard</h2>
                </a>
            <div class="head-login-form">
                <a href="">
                    <button class="button btn btn-inverse pull-right js-logout">LOGOUT</button>               
                </a>
            </div>
        </script>
        
<!-- Team Dashboard Template -->
        <script type="text/template" id="team-dashboard">
            <div class="js-dashboard row">
                <div class="maincontent col-xs-12">
                    <div class="col-sm-6 col-xs-12 section">
                        <div class="col-xs-12 board-title">Schedule</div>
                        <div class="col-xs-12 board"></div>
                    </div>                        
                    <div class="col-sm-6 col-xs-12 section">
                        <div class="col-xs-12 board-title">Messages</div>
                        <div class="col-xs-12 board"></div>
                    </div>
                    <div class="col-sm-6 col-xs-12 section">
                        <div class="col-xs-12 board-title">Players</div>
                        <div class="col-xs-12 board players">
                              
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 section">
                        <div class="col-xs-12 board-title">Coaches</div>
                        <div class="col-xs-12 board"></div>
                    </div>
                </div>
            </div>
        </script>

<!-- This is the player listview template -->
        <script type="text/template" id="player-list">
                <span><%= this.model.get('first_name') + this.model.get('last_name')%></span>
                <span><%= this.model.get('position')%></span>
        </script>


        <!-- ////////////////////////// -->
        <!-- End of my templates -->
        <!-- ////////////////////////// -->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- this is the parse sdk -->
        <script src="//www.parsecdn.com/js/parse-1.2.17.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/router.js"></script>
        <script src="scripts/model.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/views/appview.js"></script>
        <script src="scripts/views/headerviews.js"></script>
        <script src="scripts/views/marketingview.js"></script>
        <script src="scripts/views/signupview.js"></script>
        <script src="scripts/views/addteambuttonview.js"></script>
        <script src="scripts/views/coachdashboardview.js"></script>
        <script src="scripts/views/teamsnapshotview.js"></script>
        <script src="scripts/views/teamdashboardview.js"></script>
        <script src="scripts/views/playerlistview.js"></script>
        <!-- endbuild -->
</body>
</html>
